<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.muvi.actor_detail">

    <dist:module
        dist:instant="false"
        dist:onDemand="false"
        dist:title="@string/title_actor_detail">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".ActorDetailActivity" />
    </application>

</manifest>
